.viewRow{
    width: '100%';
    height: 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* margin: 30; */
}
.inforRow{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}